<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.forixusa.scoretimer.android.activities"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:name="com.forixusa.scoretimer.android.ScoreTimerApplication"
    	android:icon="@drawable/icon" android:label="@string/app_name"
    	android:theme="@android:style/Theme.NoTitleBar">
    	
        <activity android:name="com.forixusa.scoretimer.android.activities.ScoreTimerActivity"
                  android:label="@string/app_name"
                  android:configChanges = "orientation|keyboardHidden" 
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.forixusa.android.twitter.TwitterActivity" 
				  android:label="Loading..." android:theme="@android:style/Theme.Dialog"
                  android:launchMode="singleTask">
            <intent-filter>
            	<action android:name="android.intent.action.VIEW" />
            	<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="myapp" android:host="mainactivity" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.forixusa.scoretimer.android.tabs.TabHome" 
       		android:theme="@android:style/Theme.NoTitleBar"
        	android:screenOrientation="portrait" />
        <activity android:name="com.forixusa.scoretimer.android.tabs.TabAboutUs" 
       		android:theme="@android:style/Theme.NoTitleBar"
        	android:screenOrientation="portrait" />
        <activity android:name="com.forixusa.scoretimer.android.tabs.TabInstruction" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:screenOrientation="portrait"/>
        <activity android:name="com.forixusa.scoretimer.android.tabs.TabSummary" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:screenOrientation="portrait"/>
        <activity android:name="com.forixusa.scoretimer.android.tabs.TabTimer" 
        	android:theme="@android:style/Theme.NoTitleBar"
        	android:screenOrientation="portrait" />
        
		<activity android:name="com.forixusa.scoretimer.android.activities.HomeActivity"
          android:label="@string/app_name"
          android:theme="@android:style/Theme.NoTitleBar"
          android:screenOrientation="portrait">            
		</activity>
        
		<activity android:name="com.forixusa.scoretimer.android.activities.AboutUsActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">            
        </activity>
        
        <activity android:name="com.forixusa.scoretimer.android.activities.InstructionActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">            
        </activity>
        <activity android:name="com.forixusa.scoretimer.android.activities.SummaryActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">            
        </activity>
        <activity android:name="com.forixusa.scoretimer.android.activities.TimerActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">            
        </activity>
        
        <activity android:name="com.forixusa.scoretimer.android.activities.ShareActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">            
        </activity>
        
        
        <activity android:name="com.forixusa.scoretimer.android.activities.ResultActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">            
        </activity>
        <activity android:name=".GraphActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:screenOrientation="portrait">            
        </activity>
        
        <activity android:name="org.achartengine.GraphicalActivity" />
    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>